<!DOCTYPE html>
<html>
<head>
<title>Calculator Application</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

<h1>Calculator</h1>

<div class='calculator'></div>

<div class='main'>

    <div class='input'>{% if expression %}{{expression}}{% endif %}</div>

    <form action="/" method="POST"> <input type="text" name="calc" /> <input type="submit" value="Calculate!" /> </form>

    <div class='output'>= {% if result %}{{result}}{% endif %}</div>

</div>

<!--
</div class='memory'>
    <input type="submit" value="Clear!" />
<div>
-->

<h3>This app was made using Flask.</h3>

</body>
</html>