<!DOCTYPE html>
<html>
<head>
<title>Calculator Application</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

<h1>Calculator</h1>

<div class='calculator'></div>

<div class='main'>

    <div class='input'>{% if expression %}{{expression}}{% endif %}</div>

    <form action="/" method="POST"> <input type="text" name="calc" /> <input type="submit" value="Calculate!" /> </form>

    <div class='output'>= {% if result %}{{result}}{% endif %}</div>

</div>

<!-- Perhaps at some point buttons can be added to this calculator. A layout of each basic button is listed here. 

<div class='buttons'>

    <div class='numbers'>

        <input type="submit" value="0" />
        <input type="submit" value="1" />
        <input type="submit" value="2" />
        <input type="submit" value="3" />
        <input type="submit" value="4" />
        <input type="submit" value="5" />
        <input type="submit" value="6" />
        <input type="submit" value="7" />
        <input type="submit" value="8" />
        <input type="submit" value="9" />

    </div>

    <div class='operators'>

        <input type="submit" value="(" />
        <input type="submit" value=")" />
        <input type="submit" value="^" />
        <input type="submit" value="*" />
        <input type="submit" value="/" />
        <input type="submit" value="+" />
        <input type="submit" value="-" />

    </div>

</div>

-->

<h3>This app was made using Flask.</h3>

</body>
</html>